/* 메뉴바 */
.menubar {
  display: flex;
  list-style-type: none;
}

/* 메뉴바 list */
.menubar li {
  padding: 10px;
}

/* 메뉴바 로고 */
.menu-logo {
  display: flex;
  justify-content: center;
}

/* 로그인 컨테이너 */
.login-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px;
  cursor: pointer;
}

.menu-area {
  display: flex;
  justify-content: center;
}

.search-area {
  border-bottom: 1px solid black;
  position: absolute;
  right: 20px;
}

.search-area input {
  border: none;
}

.product-img {
  width: 300px;
  height: 400px;
}

.choice-new {
  font-size: 0.7rem;
}

.productCard:hover {
  transform: scale(1.1);
}

.login-form {
  margin: 0 auto;
  width: 600px;
}
