.box {
  border: 10px solid black;
  width: 500px;
  text-align: center;
  font-size: 25px;
  margin: 10px;
}

.item-img {
  width: 400px;
}

.main {
  display: flex;
  justify-content: center;
}

.win {
  border: 10px solid green;
  color: green;
}

.lose {
  border: 10px solid red;
  color: red;
}

.tie {
  border: 10px solid black;
  color: black;
}

.btn-img {
  width: 40px;
  height: 40px;
}

.result2 {
  border: none;
  text-align: center;
}
